*{
    padding: 0;
    margin: 0;
}
.template{
    width: 960px;
    margin: 0 auto;
}
.top_header{
    height: 60px;
    width: 100%;
    background: purple;
}
.logo{
    width: 20%;
    float: left;
}
.logo img {
    height: 50px;
    padding: 10px 50px;
}
.menu {
    width: 66%;
    float: left;
    margin-left: 101px;
}
.menu ul{}
.menu ul li{
    list-style: none;
    display: inline-block;
    line-height: 60px;
    padding: 0px 20px;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #00ff00;
}