*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../images/bg.jpeg);
}
.template{
    width: 960px;
    margin: 0 auto;
}
.top_header{
    /* height: 60px; */
    width: 100%;
    background: purple;
}
.logo{
    width: 20%;
    float: left;
}
.logo img {
    height: 50px;
    padding: 10px 50px;
}
.menu {
    width: 80%;
    float: left;
}
.menu ul{}
.menu ul li{
    list-style: none;
    display: inline-block;
    line-height: 60px;
    padding: 0px 9px;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #00ff00;
}
.row2{
    height: 450px;
    width: 100%;
    background: url(../images/top_bg.jpg);
    background-size: cover;
    background-repeat: round;
    /* position: relative; */
    
}
.slider_section{
   
}
.item{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    margin-bottom: 70px;
}
.item h2{}
.item h1 {
    border: 10px solid #fff;
    width: 498px;
    margin: 0 auto;
    padding: 21px;
    font-size: 65px;
}
.carousel-indicators li{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #fff;
}
.carousel-indicators .active{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #00ff00;
    border: 1px solid #00ff00;
}
/* ************************************************************** */
.row3 {
    height: 412px;
    background: #fff;
    width: 100%;
}
.about_section{}
.about_top {
    text-align: center;
    padding-top: 40px;
}
.about_top h1 {
    text-transform: uppercase;
}
.about_top p {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 38px;
}
.about_bottom{}
.about_all_part{}
.about_part {
    width: 208px;
    float: left;
    margin-right: 25px;
    text-align: center;
}
.about_part i {
    font-size: 45px;
    
}
.about_part h2 {
    font-size: 25px;
    padding: 5px 0px;
}
.about_part p {
    text-align: justify;
    font-size: 12px;
}
.about_part:hover i,
.about_part:hover h2{
    color: #00ff00;
    transition: 1s;
}
.about_part:first-child{
    margin-left: 25px;
}

